{% extends "base.html" %}

{% block content %}

    <div class="row-fluid">
      <div id="main-content" class="span12">
        <h1 id="404-page-not-found" style="text-align: center"><strong>404</strong></h1>
        <h1 style="text-align: center"><strong>Page not found</strong></h1>
        <br />
        <p><strong>La page recherchée n'est pas disponible.</strong></p>
        <p><strong>
            Peut-être que voulez-vous en savoir plus sur la
            <a href="https://www.thebluealliance.com/team/404">Team 404</a>
            ou bien souhaitez visiter le site de 
            <a href="https://www.robolyon.com">Robo'Lyon</a>.
        </strong></p>

      </div>
    </div>

{% endblock %}
